.App {
  text-align: center;
  font-family: "Reenie Beanie";
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;
}

.title {
  font-size: 50px;
}

.clock {
  font-family: 'Londrina Solid', cursive;
  font-size: 200px;
  border: 5px 5px solid grey;
  border-radius: 25px;
  background-color: #B7CCBC;
  width: 50vw;
  margin: auto;
  padding: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.quote {
  bottom: 10px;
}

.button {
  font-size: 15px;
  border: none;
  background-color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: -webkit-grab; cursor: grab;
}

.button:active {
  cursor: -webkit-grabbing; cursor: grabbing;
}

@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url(https://fonts.gstatic.com/s/reeniebeanie/v9/z7NSdR76eDkaJKZJFkkjuvWxXPq1q6Gjb_0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Solid Regular'), local('LondrinaSolid-Regular'), url(https://fonts.gstatic.com/s/londrinasolid/v8/flUhRq6sw40kQEJxWNgkLuudGfNeKBMet5Hg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
